<!DOCTYPE html>
<html>
  <head>
    <title>CaesarCypher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", welcome_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Encode", encode_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Decode", decode_index_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
  <body>
    <%= yield %>
  </body>
  </div>
</html>
